.textbox {
    line-height: 32px;
    max-width: 450px;
}

.textbox p:last-of-type { color: #cecece; }

.name { color: #86C232; }

.title {
    font-size: 3rem;
    line-height: 56px;
}

.socials { margin-top: 16px; }

.socials i {
    font-size: 1.8rem;
    margin-right: 12px;
    cursor: pointer;
    transform: scale(1);
}

.socials i:hover {
    color: #86C232;
    transform: scale(1.2);
}

/* Media Queries */
@media only screen and (max-width: 1024px) {
    .textbox { margin-bottom: 120px; }
}

@media only screen and (max-width: 486px) {
    .title { 
        font-size: 2.4rem; 
        line-height: 48px;
    }
}


