.textbox { 
    display: flex;
    flex-direction: column;
    text-align: center;
}

.textbox h1 { font-size: 3rem;}

.name { 
    font-size: 3rem; 
    position: relative;
}

.name::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 100%;
    border: 1px solid #86C232;
}

.description {
    color: #cecece;
    margin-top: 24px;
}


.socials { margin-top: 16px; }

.socials i {
    font-size: 1.8rem;
    margin-right: 12px;
    cursor: pointer;
    transform: scale(1);
}

.socials i:hover {
    color: #86C232;
    transform: scale(1.2);
}

/* Media Queries */


