.header-row {
    width: 90%;
    max-width: 1750px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    font-family: 'Babylonica', cursive;
    font-size: 32px;
}

.menu-icon {
    display: none;
    cursor: pointer;
    font-size: 1.5em;
}

/* Media Queries */
@media only screen and (max-width: 776px) {
    .menu-icon {
        display: block;
    }
}