.img-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: rgba(71, 75, 78, 0.6);;
    cursor: pointer;
    padding: 12px;
    width: 48px;
    margin-right: 14px;
}

.label {
    position: absolute;
    top: -18px;
    font-size: 0.7rem;
    padding: 2px 8px;
    background-color: rgb(105, 110, 114);
    border-radius: 4px;
}