.container {
    text-transform: uppercase;
    width: 350px;
    position: relative;
    border: 1px solid #86C232;
    box-shadow: 0 0 4px #86C232;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    position: absolute;
    left: -40px;
    top: 80px;
    background-color: #222629;
    text-align: center;
    font-size: 1.5rem;
    padding: 12px 0;
    color: #fff;
}

.tech-stack {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 280px;
    margin: 24px 0;
}

.tech-stack img { width: 36px; }