* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
    
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #222629;
    color: #fff;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 18px 0;
    width: 100%;
}

.row {
    width: 90%;
    max-width: 1450px;
    margin-left: auto;
    margin-right: auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style-type: none;
    cursor: pointer;
}